
/*******************************************************/
body{
    margin:0;
    scroll-behavior: smooth;

 
}
*{
  font-family: 'Lora';
    
}

@font-face {
  font-family: 'Lora';
  src: url('assets/fonts/Lora-Italic-VariableFont_wght.ttf') format('ttf'),
       url('assets/fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

.DesktopNavbar{
    display: none;

}

    ul {
  
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        list-style-type: none;
        margin: 0;
        padding: 14px 16px;
        overflow: hidden;
        background-color: #ECE5D1;
  }

  #Accueil{
    display: grid;
    justify-content: space-around;
    height: 100Vh;
    justify-items: center;
    align-content: center;
    text-align: center;
}
/*******button pour aller faire le quiz ********/
  button#quizButton{
    border-radius: 10px;
    background-color: #15616D;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
  }
/***************************************Barre de recherche**************************************************************/
.Research{
  border-radius: 50px;
  background-color:#ECE5D1;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 2%;
}
.researchContainer{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  border: none;
  background-color: #ECE5D1;
  width: 50%;
}
button#search{
  background-color: #15616D;
  border-radius: 50px;
  border: none;
  padding: 5%;
}
#searchIcon{
  color: white;
}
/*****************liste (de parfum) container******************/

.parfumListContainer{
  display: grid;
  justify-content: center;
}

.famillesOlfactive ul{ 
  background-color: white;

}
  /********************************Card affichage parfum/article**********************************/

  .card {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Ajout d'un curseur pour indiquer que l'élément est cliquable */
  }

  .card img {
    width: 100%;
    height: auto;
   aspect-ratio: 1/1;
  }

  .card-content {
    padding: 16px;
  }

  .card-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
  }

  .heart-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #ff0000;
  }
/*** le bas de la card article */
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    padding: 2%;
  }

  .product-description {
    display: none;
    max-width: 600px;
    margin: 20px;
  }
  /***********button lire plus***********/
  .lirePlusBtn{
    background-color: #BC8340;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5%;
    width: 100px;
    font-weight: bold;
  }
/******************SECTION BLOG**************************************/
#Blog{
  padding: 1%;
}








/***************************************DESKTOP**************************************************/
@media only screen and (min-width: 500px) {
    .DesktopNavbar{
        display: block;
    
    }
    .mobileFirst{
        display: none;
    }

    body{
        margin:0;
        scroll-behavior: smooth;
        
    }

    /*************Nav bar *************/
ul {
  
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ECE5D1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover:not(.active) {
    background-color: #15616D;
    color: white;
  }
  
  .active {
    color: #BC8340;
    font-weight: bolder;
  }
  /*******************************Accueil************************************************/

/******************************Catalogue**************************************************/
.Research{
  width: 40%;
  padding: 1%;
}

input{
  
  width: 50%;
  text-size-adjust: auto;
}

.parfumListContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} /*afficher les parfums en plusieurs colonnes  */
}


  